{% extends 'base.html.twig' %}


{% block title %}Fall-In-Love{% endblock %}


{% block banner %}{% endblock %}


{% block body %}
    <h3 class="title is-3">Legal notices</h3>
    <div class="columns">
        <div class="column">
            <p>
                Nam vitae elit et risus pharetra sodales ac sed velit. Proin posuere enim at tincidunt cursus. Proin dictum dolor eget quam fringilla, nec tempus urna scelerisque. Maecenas quis aliquam urna. Integer felis leo, pulvinar in mi vel, consectetur rutrum enim. Nunc fermentum ultrices nisl, a accumsan libero tempus vitae. Morbi et auctor purus. Etiam vestibulum eget ipsum eget sollicitudin. Nulla ac aliquet magna. Cras vitae sodales sapien. Cras tincidunt consequat nulla sit amet interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis ipsum id enim ullamcorper, auctor tempus dolor pulvinar. Cras tortor libero, blandit sit amet odio id, gravida pulvinar purus.
            </p>
        </div>
        <div class="column">
            <p>
                Quisque quis mollis mauris. Nulla in velit at nisi accumsan cursus. Donec commodo viverra nisi nec imperdiet. Nullam vel tincidunt enim, nec mollis velit. Aenean vitae sem finibus, vulputate velit vitae, condimentum justo. Aenean porta, metus at dignissim tincidunt, dolor nisi consequat enim, eget posuere odio elit pulvinar eros. Nam placerat risus tortor, quis accumsan urna semper sed. Quisque ac aliquam quam, vel tempor lacus. Morbi eu lobortis nisi, eu faucibus nulla. In nec nisi urna. Proin in varius lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac viverra diam. Curabitur neque neque, tristique sed nisl at, cursus congue tellus.
            </p>
        </div>
    </div>
{% endblock %}