/* image de fond sur l'accueil */
.hero {
    background-image: url("../img/banniere.jpg");
}

label, input, textarea {
    display: block;
}

label, input, textarea, table {
    width: 100%;
}

#registration_form_agreeTerms {
    display: inline;
    width: auto;
}

#imgProfile {
    width: 250px;
    height: 250px;
}